$shortDuration: 0.3s;
$longDuration: 1s;
$defaultDimension: 192px;
$focusedDimension: 256px;

.avatar {
    transition:
        width $shortDuration ease,
        height $shortDuration ease,
        transform $longDuration ease,
        box-shadow $shortDuration ease;
    box-shadow: none;

    &.hoverResize {
        height: $defaultDimension;
        width: $defaultDimension;
    }

    &:hover {
        box-shadow: 0 0 16px 4px #fff;

        &.hoverResize {
            height: $focusedDimension;
            width: $focusedDimension;
        }

        .animate {
            animation: avatar-animation 500ms 100ms linear;
        }
    }
}

@keyframes avatar-animation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
