$shortDuration: 0.3s;

.customLink {
    text-decoration: none;
    color: inherit;
}

.projectCard {
    transition: box-shadow $shortDuration ease;

    &:hover {
        box-shadow: 0 0 8px 2px #FFF;
    }

    &.forcedHover {
        box-shadow: 0 0 8px 2px #FFF;
    }
}


.projectCardContent {
    padding-block-end: 2px;
}

.projectDescription {
    font-size: 14;
    min-height: 128
}

.projectCardActions {
    padding-block-start: 0;
}