/* Variables */
$color-1: black;
$color-2: white;
$color-3: #29b6f6;
$color-4: #3f3f3f;

/* Styling */
.timeline {
    margin: 4em auto 0; // Adjusted margin to avoid double-spacing
    position: relative;
    max-width: 46em;
    list-style-type: none;

    &:before {
        background-color: $color-2;
        content: '';
        margin-left: -1px;
        position: absolute;
        top: 0;
        left: 2em;
        width: 2px;
        height: 100%;
    }
}

.timelineEvent {
    position: relative;
    margin-bottom: 4em;

    // Specifically target the last timelineEvent to remove bottom margin
    &:nth-last-child(2) {
        margin-bottom: 0; // Remove margin for the second last timeline event
    }

    &:hover {
        .timelineEventIcon {
            transform: rotate(-45deg);
            background-color: $color-3;
            box-shadow: 0 0 16px 8px #fff;
        }

        .timelineEventThumbnail {
            text-shadow: 0 0 16px #fff;
        }
    }
}

.timelineEventCopy {
    padding: 0;
    position: relative;
    top: -0.25em;
    left: 2em;
    width: 95%;

    h3 {
        font-size: 1.75em;
    }

    h4 {
        font-size: 1.2em;
        margin-bottom: 1.2em;
    }

    strong {
        font-weight: 700;
    }

    p:not(.timelineEventThumbnail) {
        padding-bottom: 1.2em;
    }
}

.timelineEventIcon {
    transition: all 0.5s ease;
    transform: rotate(45deg);
    background-color: $color-1;
    outline: 5px solid $color-2;
    display: block;
    margin: 0.25em 0.25em 0.25em -1.75em;
    position: absolute;
    top: 0;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
}

.timelineEventThumbnail {
    transition: box-shadow 0.5s ease-in 0.1s;
    color: $color-2;
    font-size: 1.5em;
    margin-top: -0.35em;
    margin-bottom: 0.25em;
    margin-left: 0;
    // background-color: $color-4;
    border-radius: 16px;
    box-shadow: inset 0 0 0 0 #ef795a;
    display: inline-block;
    padding: 0;
}
