@media (max-width: 768px) {
    h2 {
        font-size: 2.5rem !important;
    }
  }

.timeline-connector-present {
    background-color: #29b6f6;
}

.MuiCard-root {
    transition: all .75s ease;
}

.MuiCard-root.applyShadow {
    box-shadow: 0 0 8px 4px #FFF;

}

.MuiCard-root.present {
    border: 1px solid transparent;
    box-shadow: 0 0 8px 4px #29b6f6;
}